.vagrant/
devops.local.json

vendor
logs/*.log

config/*.php
!config/environments/*.php
!config/sample-environment.php

wp-cli.local.yml

# Project files
public/wp
public/app/upgrade
public/app/uploads
public/app/themes/wp-skeleton-theme
public/app/plugins/wp-skeleton-plugin