# System files
.DS_Store

# IDE
.idea
nbproject

# Vagrant
.vagrant
varrgrant.json

# Composer
vendor

# WordPress
public/wp
public/local-config.php
public/content/themes/wp-skeleton-theme
public/content/plugins/wp-skeleton-plugin
public/content/mu-plugins/wp-skeleton-plugin